.slider {
    position: relative;
    z-index: 1;
    height: 90vh;
    .slider-item {
        width: 100vw;
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slider-item01 {
        background-image: url(https://github.com/a2o23rhgojn3/work1/blob/master/images/no.1.jpg?raw=true);
    }
    .slider-item02 {
        background-image: url(https://github.com/a2o23rhgojn3/work1/blob/master/images/no.2.jpg?raw=true);
    }
    .slider-item03 {
        background-image: url(https://github.com/a2o23rhgojn3/work1/blob/master/images/no.3.jpg?raw=true);
    }
}
.horizontal-scroll {
    img {
        width: 100vw;
        height: 80vh;
        object-fit: cover;
    }
}